<div class="hero-image">
    <img src="https://illustrations.popsy.co/amber/digital-nomad.svg" alt="URL Shortener Illustration">
  </div>
</section>

</main>
<footer>
<div class="container">
  <p>&copy; 2023 Shortifly - URL Shortener Service</p>
</div>
</footer>

</body>
</html>  